{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row" style="margin: 200px 0">
        {% for product in products %}
        <div class="col-sm-12 col-md-4">
            <div>
                <div class="item" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                <h3>{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <p>{{ product.price }}</p>
                <form action="{% url 'cart_additions' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="number" name="quantity" min="1" max="999" class="form-control"
                            placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}