:root {
    --main-width: 100%;
    --main-bg-size: contain;
    --main-bg-repeat: no-repeat;
    --main-center-position: center;
}

/* Remove Margins */
.no-margin {
    margin: 0;
}

/* Messages */
.message-styling {
    height: 280px;
    padding-top: 120px;
    text-align: var(--main-center-position);
    font-size: 32px;
    font-weight: bold;
    background-color: rgb(255, 175, 25);
    color: #fff;
}

@media (min-width: 576px) {
    .message-styling {
        height: 190px;
    }
}

/* Navigation Bar */
.navbar {
    width: var(--main-width);
    height: 100px;
    background-color: rgb(0, 18, 255);
    color: white;
}

/* Bootstrap Collapsible Navigation Bar */
.collapse.show {
    display: block;
    background-color: rgb(0, 18, 255);
}

/* Navigation Bar */
.badge {
    padding: 0 10px;
    border-radius: 50%;
}

.blue {
    background-color: rgb(0, 18, 255);
    height: 100px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-light .navbar-brand {
    color: rgb(255, 176, 30);
}

.navbar-light .navbar-brand:hover {
    color: rgb(255, 176, 30);
}

.transparent {
    background-color: rgba(0, 0, 0, 0);
    height: 60px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

/* Sections */
.section-padding {
    padding: 70px 0;
}

.form-page-padding {
    padding: 150px 0;
}

.section-margin {
    margin-top: 100px;
    min-height: 60vh;
}

.blue-background {
    /* background-image: linear-gradient(300deg, #ff7700,#ffa74d,#ffd89f) */
    background-color: rgb(0, 18, 255);
    color: #fff;
}

.h2-padding-top {
    padding-top: 20px;
}

.form-positioning {
    display: flex;
    justify-content: var(--main-center-position);
    align-items: var(--main-center-position);
}

/* Product Page */

.product {
    width: var(--main-width);
    height: 250px;
    background-position: var(--main-center-position);
    background-repeat: var(--main-bg-repeat);
    background-size: var(--main-bg-size);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.product-container {
    margin: 40px 10px 140px;
}

.product-info-styling {
    width: 100%;
    position: absolute;
    top: 250px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (min-width: 768px) {
    .product-info-styling {
        top: 220px;
        left: 40px;
    }
}

.align-right {
    text-align: right;
}

.phone-shop-banner {
    width: var(--main-width);
    height: 70vh;
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, 0.1), rgba(255, 255, 255, .1)), url('../images/phone-shop-banner.jpg');
    background-size: cover;
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: var(--main-center-position);
    color: #fff;
    position: relative;
}

.section-padding-bottom {
    padding-bottom: 70px;
}

/* Cart */

.cart-info-text {
    width: var(--main-width);
    display: flex;
    flex-direction: column;
    align-items: var(--main-center-position);
    padding-top: 20px;
}

@media (min-width: 768px) {
    .cart-info-text {
        flex-direction: column;
        align-items: flex-end;
        padding-top: 0;
    }
}

.cart-item-style-around {
    border: 3px solid #333;
    margin: 40px 0;
    padding: 20px;
}

.total-value-position {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .total-value-position {
        justify-content: flex-end;
    }
}

.item {
    width: var(--main-width);
    height: 200px;
    background-position: var(--main-center-position);
    background-repeat: var(--main-bg-repeat);
    background-size: var(--main-bg-size);
}

/* Carousel */
.carousel-margin-top {
    margin-top: 100px;
}

.carousel-item {
    width: var(--main-width);
    height: 70vh;
}

.personal-life-smartphone-banner {
    width: var(--main-width);
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4)), url('../images/main-smartphone-banner.jpg');
    background-size: cover;
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
    color: #fff;
}

.smartphone-photography-banner {
    width: var(--main-width);
    height: 70vh;
    background-image: url('../images/SmartphoPhography.jpg');
    background-size: cover;
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
    color: #fff;
}

.smartphone-journey-banner {
    width: var(--main-width);
    height: 70vh;
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .2)), url('../images/PhoneAndWork.jpg');
    background-size: cover;
    background-repeat: var(--main-bg-repeat);
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
    color: #fff;
}

/* Brand Examples */
.initial-brand-img {
    width: var(--main-width);
    height: 500px;
    background-image: url('../images/samsungS10E.jpg');
    background-size: var(--main-bg-size);
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
}

.brand-img {
    width: var(--main-width);
    height: 500px;
    background-size: var(--main-bg-size);
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
}

.brand-text {
    cursor: pointer;
    text-align: center;
    font-size: 27px;
    font-weight: 500;
}

.brandName {
    margin: 20px 0;
    display: block;
    text-decoration: underline;
}

/* Photography Examples */
.examples-section-padding {
    padding: 30vh 0;
}

.heading-padding {
    padding-bottom: 90px;
}

.huawei-photography {
    width: var(--main-width);
    height: 300px;
    color: white;
    text-align: var(--main-center-position);
    background-image: url('../images/HuaweiPhotography.jpg');
    background-size: var(--main-bg-size);
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: var(--main-center-position);
}

.lg-photography {
    width: var(--main-width);
    height: 300px;
    color: white;
    margin-top: 37px;
    text-align: var(--main-center-position);
    background-image: url('../images/LG-photography.jpg');
    background-size: var(--main-bg-size);
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: var(--main-center-position);
}

.iphone-photography {
    width: var(--main-width);
    height: 500px;
    color: white;
    margin-top: 70px;
    text-align: var(--main-center-position);
    background-image: url('../images/iPhonePhotography.jpg');
    background-size: var(--main-bg-size);
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: var(--main-center-position);
}

.samsung-photography {
    width: var(--main-width);
    height: 300px;
    color: white;
    background-image: url('../images/samsungPhotography.jpg');
    background-size: var(--main-bg-size);
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: var(--main-center-position);
}

.iphone-photography2 {
    width: var(--main-width);
    height: 300px;
    color: white;
    margin-top: 20px;
    background-image: url('../images/iphone-photography2.jpg');
    background-size: var(--main-bg-size);
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: var(--main-center-position);
}

.link-to-shop-section {
    width: var(--main-width);
    height: 80vh;
    color: #333;
    background-image: url('../images/phone-shopping.jpg');
    background-size: cover;
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
    display: flex;
    justify-content: var(--main-center-position);
    align-items: var(--main-center-position);
}

.shop-button {
    background-color: rgb(255, 176, 30);
    transition: .2s;
}

.shop-button:hover {
    background-color: orange;
}

/* Footer */
footer {
    width: var(--main-width);
    height: 50vh;
    text-align: var(--main-center-position);
    background-color: rgb(0, 18, 255);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: var(--main-center-position);
    align-items: var(--main-center-position);
}

ul {
    list-style-type: none;
    padding: 0;
    color: #fff;
}

.footer-links {
    color: #fff;
}

.footer-links:hover {
    color: rgb(255, 204, 0);
}