:root {
    --main-width: 100%;
    --main-bg-size: contain;
    --main-bg-repeat: no-repeat;
    --main-center-position: center;
}

/* Navigation Bar */
.navbar {
    width: var(--main-width);
    height: 100px;
}

/* Sections */
.section-padding {
    padding: 70px 0;
}

.orange-background {
    /* background-image: linear-gradient(300deg, #ff7700,#ffa74d,#ffd89f) */
    background-color: rgb(0, 37, 146);
    color: #fff;
}

/* Form */
form {
    width: 50%;
}

/* Carousel */
.carousel {
    margin-top: 100px;
}

.carousel-item {
    width: var(--main-width);
    height: 70vh;
}

.personal-life-smartphone-banner {
    width: var(--main-width);
    height: 70vh;
    background-image:  linear-gradient(rgba(0,0,0,0), rgba(0, 0, 0, .4)),url('../images/main-smartphone-banner.jpg');
    background-size: cover;
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
    color: #fff;
}

.smartphone-photography-banner {
    width: var(--main-width);
    height: 70vh;
    background-image: url('../images/smartphone-photography.jpg');
    background-size: cover;
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
    color: #fff;
}

.smartphone-journey-banner {
    width: var(--main-width);
    height: 70vh;
    background-image: linear-gradient(rgba(255,255,255, .1), rgba(0, 0, 0, .2)), url('../images/PhoneAndWork.jpg');
    background-size: cover;
    background-repeat: var(--main-bg-repeat);
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
    color: #fff;
}

/* Brand Examples */
.initial-brand-img {
    width: var(--main-width);
    height: 500px;
    background-image: url('../images/samsungS10E.jpg');
    background-size: var(--main-bg-size);
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
}

.brand-img {
    width: var(--main-width);
    height: 500px;
    background-size: var(--main-bg-size);
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
}

.brand-text {
    cursor: pointer;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
}

/* Photography Examples */
.examples-section-padding {
    padding: 30vh 0;
}

.heading-padding {
    padding-bottom: 90px;
}

.huawei-photography {
    width: var(--main-width);
    height: 300px;
    color: white;
    text-align: var(--main-center-position);
    background-image: url('../images/HuaweiPhotography.jpg');
    background-size: var(--main-bg-size);
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: var(--main-center-position);
}

.iphone-photography {
    width: var(--main-width);
    height: 500px;
    color: white;
    text-align: var(--main-center-position);
    background-image: url('../images/iPhonePhotography.jpg');
    background-size: var(--main-bg-size);
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: var(--main-center-position);
}

.samsung-photography {
    width: var(--main-width);
    height: 300px;
    color: white;
    background-image: url('../images/samsungPhotography.jpg');
    background-size: var(--main-bg-size);
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: var(--main-center-position);
}

.img-text {
    /* display: none; */
}
.link-to-shop-section {
    width: var(--main-width);
    height: 70vh;
    color: #333;
    background-image: url('../images/phone-shopping.jpg');
    background-size: cover;
    background-repeat: var(--main-bg-repeat);
    background-position: var(--main-center-position);
    display: flex;
    justify-content: var(--main-center-position);
    align-items: var(--main-center-position);
}