{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block head_js %}

<script src="https://js.stripe.com/v2/"></script>
<script>
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script src="{% static 'js/stripe.js' %}"></script>

{% endblock %}

{% block content %}
<section class="section-margin section-padding">
    <div class="container text-center">
        <h1>Shopping Cart</h1>
    </div>
    <div class="container-fluid">
        {% for item in cart_items %}
        <div class="cart-item-spacing">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="item"
                        style="background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)), url('{{ MEDIA_URL }}{{ item.product.image }}')">
                    </div>
                </div>

                <div class="col-sm-12 col-md-8 cart-info-text">
                    <h3>{{ item.product.name }}</h3>
                    <p class="product-description">{{ item.product.description }}</p>
                    <p>Price: {{ item.product.price }}€</p>
                    <p class="input-group-addon">Amount: {{item.quantity}}</p>
                    <form class="form-inline" method="post" action="{% url 'cart_adjustments' item.id %}">
                        {% csrf_token %}
                        <label for="" class="sr-only">Quantity</label>
                        <input name="quantity" type="number" min="0" max="999" class="form-control">
                        <button type="submit" class="btn btn-primary">
                            Amend
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <form role='form' id="payment-form" action="{% url 'checkout' %}" method="post">
        <legend>Payment Details</legend>
        <div id="credit-card-errors" style="display: none">
            <div class="alert-message block-message error" id="stripe-error-message"></div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                {{ order_form | as_bootstrap }}
            </div>
            <div class="form-group col-md-6">
                {{ payment_form | as_bootstrap }}
            </div>
            {% csrf_token %}
            <div class="form-group col-md-6">
                <input type="submit" value="Pay" class="btn btn-primary" id="submit_payment_btn" name="commit">
            </div>
        </div>
        

    </form>

</section>
{% endblock %}