{% extends 'base.html' %}
{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block page_heading %}
{{ user }}'s Profile
{% endblock %}

{% block content %}
<section class="section-padding section-margin">
    <p>username: {{ profile.username }}</p>
    <p>email address: {{ profile.email }}</p>
    <h1>{{ order.id }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                
                <p>product: {{ profile.order }}</p>
                <p>description: {{ profile.product }}</p>
                <p>Price: {{ profile.price }}</p>
                <div style="background-image: url('{{ MEDIA_URL }}{{ item.image }}')"></div>
                <p>Total: {{ profile.total }}</p>
                
            </div>
            <!-- <div class="col-sm-12 col-md-6">
                <p>Username: {{ profile.full_name }}</p>
                <p>Phone Number: {{ profile.phone_number }}</p>
                <p>Country: {{ profile.country }}</p>
                <p>Postcode: {{ profile.postcode }}</p>
                <p>Town/City: {{ profile.town_or_city }}</p>
                <p>Address 1: {{ profile.street_address1 }}</p>
                <p>Address 2: {{ profile.street_address2 }}</p>
                <p>County: {{ profile.county }}</p>
                <p>Date: {{ profile.date }}</p>
            </div> -->
        </div>
    </div>

</section>
{% endblock %}