{% extends 'base.html' %}
{% load static %}

{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block page_heading %}
{{ user }}'s Profile
{% endblock %}

{% block content %}
<section class="section-padding section-margin">
    <p>username: {{ profile.username }}</p>
    <p>email address: {{ profile.email }}</p>
    <h1>{{ order.id }}</h1>
    {% for info in orders %}
    {% for purchase in history %}
    
    <div class="container">
        <div class="cart-item-style-around">
            <div class="row">
                <p>{{ info.id }}</p>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="item" style="background-image: url('{{ MEDIA_URL }}{{ purchase.product.image }}')"></div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <p>Product: {{ purchase.product.name }}</p>
                    <p>Amount: {{ purchase.quantity }}</p>
                    <p>Price: {{ purchase.product.price }}€</p>
                    <!-- <p>Total: {{ profile.total }}</p> -->
                </div>
                <div class="col-sm-12 col-md-3">
                    <p>Date: {{ info.date }}</p>
                    <p>Full Name: {{ info.full_name }}</p>
                    <p>Phone Number: {{ info.phone_number }}</p>
                </div>
                <div class="col-sm-12 col-md-3">
                    <p>Postcode: {{ info.postcode }}</p>
                    <p>Town/City: {{ info.town_or_city }}</p>
                    <p>Address 1: {{ info.street_address1 }}</p>
                    <p>Address 2: {{ info.street_address2 }}</p>
                    <p>County: {{ info.county }}</p>
                    <p>Country: {{ info.country }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</section>
{% endblock %}