{% extends 'base.html' %}
{% load static %}

{% load bootstrap_tags %}

{% block content %}
<section class="section-margin section-padding">
    <div class="container text-center">
        <h1>Shopping Cart</h1>
    </div>
    <!-- Displays the items in the shopping-cart of a user -->
    <div class="container">
        {% if total == 0 %}
        <div class="row">
            <div class="col-12 text-center h2-padding-top">
                <h4>There are no items in the shopping-cart.</h4>
            </div>
        </div>
        {% else %}
        {% for item in cart_items %}
        <div class="cart-item-style-around">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="item"
                        style="background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)), url('{{ MEDIA_URL }}{{ item.product.image }}')">
                    </div>
                </div>

                <div class="col-sm-12 col-md-8 cart-info-text">
                    <h3>{{ item.product.name }}</h3>
                    <p class="product-description">{{ item.product.description }}</p>
                    <p>Price: {{ item.product.price }}€</p>
                    <p class="input-group-addon">Amount: {{item.quantity}}</p>
                    <form class="form-inline" method="post" action="{% url 'cart_adjustments' item.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="sr-only">Quantity</label>
                            <input name="quantity" type="number" min="0" max="999" class="form-control" required>
                        </div>
                        <div class="form-group">
                        <button type="submit" class="btn btn-primary flex-center">
                            Amend
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <!-- Shows the total price of each product -->
    <div class="container">
        <div class="row">
            <div class="col-12 flex-center">
                <p>Total: {{ total }}€</p>
            </div>
        </div>
        {% if total != 0 %}
        <div class="row">
            <div class="col-12 flex-center">
                <a href="{% url 'checkout' %}" class="btn btn-success" role="button">Checkout</a>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block js_tags %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}