{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="{% url 'index' %}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'profile' pk=user.pk %}">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'products' %}">Shop</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'registration' %}">Register</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a  class="nav-link" href="{% url 'cart_views' %}">
                        <i class="fa fa-shipping-cart"></i> Go to Cart
                        {% if product_count > 0 %}
                        <label class="badge badge-warning">{{ product_count }}</label>
                        {% endif %}
                    </a>
                </li>
            </ul>
            <form action="{% url 'search' %}" method="GET" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    {% if messages %}
    <div class="message-styling">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    {% block content %}{% endblock %}
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h2>Contacts</h2>
                    <ul>
                        <li><a  href="tel: 12 3456 7890" class="footer-links">Phone number: 12 4567 7890</a></li>
                        <li><a class="footer-links" href="mailto: rtegally1098@gmail.com">rtegally1098@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h2>Social Media</h2>
                    <ul>
                        <li><a class="footer-links" href="#">Sample</a></li>
                        <li><a class="footer-links" href="#">Sample</a></li>
                        <li><a class="footer-links" href="#">Sample</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    {% block head_js %}{% endblock %}

    {% block js_tags %}{% endblock %}

</body>

</html>